<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Farmacéutica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Farmaceutica Landing" name="description" />
    <meta content="TuNombre" name="author" />
    <link rel="shortcut icon" href="~/images/favicon.ico" />

    <!--Swiper slider css-->
    <link href="~/libs/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Layout config Js -->
    <script src="~/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Icons Css -->
    <link href="~/css/icons.min.css" rel="stylesheet" />
    <!-- App Css-->
    <link href="~/css/app.min.css" rel="stylesheet" />
    <!-- custom Css-->
    <link href="~/css/custom.min.css" rel="stylesheet" />
</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-example">

    <div class="layout-wrapper landing">
        <!-- Navbar -->
        @* Aquí va el menú superior fijo *@
        <nav class="navbar navbar-expand-lg navbar-landing navbar-light fixed-top" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="~/images/logo-dark.png" class="card-logo card-logo-dark" alt="logo dark" height="17">
                    <img src="~/images/logo-light.png" class="card-logo card-logo-light" alt="logo light" height="17">
                </a>
                <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                        <li class="nav-item">
                            <a class="nav-link active" href="#hero">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#productos">Nuestros Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Farmacia")">Farmacia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Pedido")">Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contacto">Contacto</a>
                        </li>

                    </ul>

                    <div class="">
                        <a href="@Url.Action("Index", "Acceso")" class="btn btn-success">Acceder al sistema</a>

                    </div>
                </div>


            </div>
        </nav>

        <div class="bg-overlay bg-overlay-pattern"></div>

        <!-- 🔥 Contenido dinámico -->
        <main role="main">
            @RenderBody()
        </main>

        <!-- Footer -->
        <footer class="custom-footer bg-dark py-5 position-relative">
            <div class="container">


                <div class="row text-center text-sm-start align-items-center mt-5">
                    <div class="col-sm-6">

                        <div>
                            <p class="copy-rights mb-0">
                                <script> document.write(new Date().getFullYear()) </script> © Velzon - Themesbrand
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end mt-3 mt-sm-0">
                            <ul class="list-inline mb-0 footer-social-link">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="ri-facebook-fill"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="ri-github-fill"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="ri-linkedin-fill"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="ri-google-fill"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="ri-dribbble-line"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
    </div>

    <!-- JAVASCRIPT -->
    <script src="~/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/libs/simplebar/simplebar.min.js"></script>
    <script src="~/libs/node-waves/waves.min.js"></script>
    <script src="~/libs/feather-icons/feather.min.js"></script>
    <script src="~/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/js/plugins.js"></script>

    <!--Swiper slider js-->
    <script src="~/libs/swiper/swiper-bundle.min.js"></script>

    <script src="~/js/pages/nft-landing.init.js"></script>
</body>
</html>